.input-container {
    position: relative;
}

.icon {
    position: absolute;
    top: 70%;
    right: 15px; /* ajustez cette valeur en fonction de l'espacement souhaité */
    transform: translateY(-50%);
    width: 20px; /* ajustez la largeur de votre icône */
    height: auto;
    cursor: pointer;
}

.input-disabled {
    background-color: dimgray !important;
    color: black !important;
}
// disabled style={{ backgroundColor: 'dimgrey', color: 'black' }} value='MacCode'